{% extends 'layout.html'%}

{%block title%} Formularios en Django {%endblock%}

{%block content%}
<h1 class="title">Formularios en Django </h1>  

<form action = "{%url 'save'%}" method="POST">
    {% csrf_token%}

    <label for="title">Titulo</labe>
    <input type="text" name="title" placeholder="Ingresa el titulo" />

    <label for="content">Contenido</labe>
    <textarea name="content" placeholder="Ingresa el contenido"></textarea>

    <label for="public">¿Publicado?</labe>
    <select name="public">
        <option value="1">SI</option>
        <option value="0">NO</option>
    </select>

    <input type="submit" value="Guardar"/>
</form>
{%endblock%}