{%extends 'layout.html'%}


{%block title%} {{title}} {%endblock%}
{% block content%}



<!--Esto es un comentario de html-->
{% comment 'Esto es un comentario' %}
<h1>hola hola</h1>
{% endcomment %}

<h1 class="title">{{title}}</h1>

<p>{{mi_variable}}</p>

{% if nombre and nombre == 'Ana Ayala' %}

    <p>{{nombre}}</p>
{%else%}
    <strong>El nombre no existe o no coincide</strong>
{%endif%}

<h3>Listado de lenguajes de programación:</h3>
<ul>
    {% for lenguaje in lenguajes %}
        <li>{{forloop.counter}}. {{lenguaje}} </li>
    {% empty%}
        <p> No hay lenguajes que mostrar</p>
        <p> Esta oracion es para una prueba de jenkins</p>
    {% endfor%}
</ul>

{% include 'fecha-actual.html' with saludo="hola mundo desde plantilla" %}
{%endblock%}