/* Estilos generales*/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
.box p, .box h2, .box h3, .box ul{
    margin-top: 5px;
    margin-bottom: 5px;
}
.box ul, .box ol{
    margin-top: 5px;
    margin-bottom: 5px;
}
.clearfix{
    clear: both;
    float: none;
}
body{
    background-color: #faf7f7;
}
/* Estilos cabecera*/
header{
    width: 1212px;
    height: 130px;
    background-color: #23282B;
    margin: 0 auto ;
}
#logotipo{
    width: 35%;
    height: 130px;
    margin: 0 auto;
    padding-top: 10px;
}
#logotipo img{
    display: block;
    width: 60px;
    float: left;
    margin-top: 20px;
}
#logotipo h1{
    display: block;
    letter-spacing: 2px;
    margin-top: 35px;
    margin-left: 20px ;
    float: left;
    font-weight:lighter ;
    color: #2ba977;
}

/*Estilos barra de navegación*/
nav{
    width: 1250px;
    height: 40PX;
    margin: 0 auto;
    background-color: #1B1E1F;
    border: 1px solid #333333;
    box-shadow: 0px 22px 22px gray;
    font-size: 15px;
    
}

nav ul{
        list-style: none;
        text-decoration: none;
}

nav ul li{
    line-height: 40px;
    float: left;
}

nav ul li a{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: #D1D4D6;
}

nav ul li a:hover{
    background: #2ba977 ;
    box-shadow: 0px 0px 5px #333333 inset;
    color: white;
    transition: all 300ms;

}

.barra{
    width: 1250px;
    margin: 0 auto;
  

}

.esquina-izquierda{
    display: block;
    border-left: 20px solid transparent;
    border-top: 10px solid #2B2F30;
    float: left;
}
.esquina-derecha{
    display: block;
    border-right: 20px solid transparent;
    border-top: 10px solid #2B2F30;
    float: left;
}

.relleno-barra{
    display: block;
    width: 1210px;
    height: 10px;
    background: #2B2F30;
    float: left;

}
/*Estilos contenido central*/
#content{
    width: 1212px;
    min-height: 930px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;

}

.box{
    background: white;
    width: 95%;
    min-height: 930px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 auto;
}
.box form{
    width: 40%;

}
.box form input,
.box form label{
    display: block;
    padding: 5px;
    padding-left: 0px;
}
.box form input[type="text"],
.box form textarea{
    width: 100%;
    margin-bottom: 10px;
}
.box form textarea{
    height: 110px;
}
.box form select{
    width: 100px;
    padding: 5px;
}
.box form input[type="submit"],
.box form input[type="button"],
.box form button{
    padding: 10px;
    margin-top: 5px;
    background: #2ba977;
    border: 1px solid #444;
    color: black;
    transition: 300ms all;
}
.box form input[type="submit"]:hover,
.box form input[type="button"]:hover,
.box form button:hover{
    cursor: pointer;
    background: #1f7e58;
    
}
.title{
    color: #444;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.rojo{
    color: red;
    box-shadow: 0px 0px 4px black;
}
.article-item{
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px;
    border-bottom: 1px solid #eee;
    clear: both;
}
.article-item .image{
    float: left;
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.article-item .image img{
    height: 200px;
}
.article-item .data{
    float: left;
    padding: 15px;
    padding-top: 0px;
}
.article-item h2{
    display: block;
    font-size: 25px;
    color: #333;
    margin-bottom: 10px;
}
.article-item span.date{
    display: block;
    font-size: 15px;
    color: gray;
    margin-bottom: 10px;
}
.btn{
    width: 50px;
    padding: 10px;
    background: rgb(66, 16, 16);
    border: 1px solid black;
    display: block;
    margin-top: 15px;
    width: 100px;
    color: white;
    text-align: center;

}

footer{
    width: 1250px;
    background-color: #1B1E1F;
    border: 1px solid #333333;
    color: #D1D4D6;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 20px gray;
}


